apiVersion: v1
kind: Pod
metadata:
  name: data-checker
  namespace: autodidact
spec:
  containers:
  - name: busybox
    image: busybox
    command: ["sleep", "3600"]
    volumeMounts:
    - name: autodidact-data
      mountPath: /mnt/data
  volumes:
  - name: autodidact-data
    persistentVolumeClaim:
      claimName: autodidact-data
  restartPolicy: Never