[Unit]
Description=Prepare MILADY_DOCKER scratch disk for docker store
Before=var-lib.mount

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/milady-persist-docker
RemainAfterExit=yes
