*.db
*.pyc
*.pyc
*.pt
*.log
wandb/
*.bin
outputs/
grpo_saved_lora/
grpo_trainer_lora_model*
rwd_code/
saved_data
saved_data_old/
trash/
unsloth_compiled_cache
faiss_index/
.litellm_cache/
full_local_training/
venv/
oai.key
qa_log.txt
__pycache__/